*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: customFont;
    src: url('Pixeboy-z8XGD.ttf');
}

body {
    background-color: rgb(126, 125, 148);
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: space-between;
}

.emojiButtons {
    display: none;
    height: 100%;
}

.actionbutton {
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 40px;
    font-family: customFont;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    margin: auto;
    text-align: center;
    transition: all .1s ease-in-out;
}

.actionbutton:hover {
    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);
}

.nextbutton {
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: none;
    font-size: 48px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    margin: 10px;
    text-align: center;
    transition: all .1s ease-in-out;
}

.nextbutton:hover {
    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);
}

.playerbutton {
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 120px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    margin: 10px;
    text-align: center;
    transition: all .1s ease-in-out;
    pointer-events: auto;
}

.playerbutton:hover {
    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);
}

table {
    width: auto;
    text-align: center;
}

td {
    text-align: center;
}

.restart {

    position: absolute;
    bottom: 3%;
    right: 3%;
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: customFont;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    text-align: center;
    transition: all .1s ease-in-out;
}

.restart:hover {

    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);

}

p {
    font-family: customFont;
    font-size: 48px;
    width: 100%;
}

a {
    font-family: customFont;
    background-color: transparent;
    color: black;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 2%;
    left: 0%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

@media screen and (max-width: 600px) {  

    .playerbutton {

        font-size: 54px;
        margin: 2px;
        padding: 10px 24px;

    }

    .actionbutton {
        font-size: 24px;
    }

    p {
        font-family: customFont;
        font-size: 20px;
    }

    footer {
        position: absolute;
        bottom: 3%;
        left: 4%;
        font-size: 18px;
        display: flex;
        align-items: left;
        justify-content: left;
        gap: 10px;
        width: 100%;
    }
  }