*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: customFont;
    src: url('Pixeboy-z8XGD.ttf');
}

body {
    background-color: rgb(126, 125, 148);
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: space-between;
}

.button-container #compSelect {
    margin-top: 80px;
    background-color: #232227;
    border: 2px solid #565263;
    border-radius: 12px;
    padding: 20px;
    width: 40%;
    height: 60%;
}

.emojiButtons {
    display: none;
    height: 100%;
}

.actionbutton {
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 40px;
    font-family: customFont;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    margin: auto;
    text-align: center;
    transition: all .1s ease-in-out;
}

.actionbutton:hover {
    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);
}

.nextbutton {
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: none;
    font-size: 48px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    margin: 10px;
    text-align: center;
    transition: all .1s ease-in-out;
}

.nextbutton:hover {
    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);
}

.playerbutton {
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 120px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    margin: 10px;
    text-align: center;
    transition: all .1s ease-in-out;
}

.playerbutton:hover {
    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);
}

.popup{
    background-color: #8debc717;
    backdrop-filter: blur(15px);
    width: 650px;
    height: auto;
    padding: 40px 40px 100px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 12px;
    border: 2px solid #0e352644;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    justify-content: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 25px;
}

a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}

.popup #start{
    color: #ffffff;
    font-size: 32px;
    margin: auto;
    background-color: #0f72e5;
    padding: 4px 20px 4px 20px;
    border-color: #185090;
    border-radius: 12px;
}

.roundSelector {
    display: flex;
    flex-direction: row;
    flex-flow: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 40px;
    margin-right: 40px;
    font-size: 32px;
}

input[type="radio"] {
    margin-left: 40;
    margin-right: 10;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.restart {

    position: absolute;
    bottom: 3%;
    right: 3%;
    background-color: #232227;
    border: 2px solid #565263;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: customFont;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.124), 0 6px 20px 0 rgba(0, 0, 0, 0.162);
    text-align: center;
    transition: all .1s ease-in-out;
}

.restart:hover {

    background-color: #565263;
    border: 2px solid #232227;
    transform: scale(1.05);

}

p {
    font-family: customFont;
    font-size: 48px;
}